extends layout

block content
    div
        h2.text-center.pt-3.pb-3 Details
        a.btn.btn-primary.mt-3.mb-3(href="/") Home

        table.table.table-striped.table-responsive-lg.table-hover
            thead.text-center
                tr
                    th Properties
                    th Values
                
            tbody.text-center
                each val, key in data[0]
                    tr
                        td= key
                        td= val
    