extends layout

block content
    div
        h1.text-center.pt-3.pb-3 Used Cars

        form.d-lg-inline-flex(method="GET", action="search")
            .form-group
                input.form-control(type="text", placeholder="Search", name="q")
            .form-group
                input.form-control(type="hidden", placeholder="Search", name="p",value="1")    
            .form-group.ml-4
                button.btn.btn-primary(type="submit",value="Search") Submit
        table.table.table-striped.table-responsive-lg.table-hover
            thead
                tr
                    th Advert
                    th Price(€)
                    th Brand
                    th Model
                    th Model Year
                    th Power(PS)
                    th Kilometer
                    th Date Added
                    th  
                
            tbody
                each ad in data
                    tr
                        td=ad.name
                        td=ad.price
                        td=ad.brandName
                        td=ad.modelName
                        td=ad.year
                        td=ad.power_ps
                        td=ad.kilometer
                        td=ad.gearboxType
                        td
                            a(href='/detail/#{ad.id}') Details
                //-td=ad.not_repaired
                //-td=ad.date_crawled
                //-td=ad.date_created
                //-td=ad.abtestType
                //-td=ad.vehicleType
                //-td=ad.fuelType
                //-td=ad.month
                //-td=ad.place_name
                //-td=ad.city_name
                //-td=ad.place_name
    div
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-end
                li.page-item
                    a.page-link(onclick="prevPage()", tabindex='-1') Previous
                li.page-item
                    a.page-link(onclick="nextPage()") Next
                
                

                
    

