doctype html

head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap.min.css', rel='stylesheet')
    link(href='/app.css', rel='stylesheet')

body
    .container
        block content

    script(src='/scripts.js' type='text/javascript')
