body {
    background-color: rgb(240, 240, 240);
    font-size: 0.9rem!important;
}



.table {
    font-size: 0.9rem !important;
}


@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}